.nav {
  height: 40px;
  width: 100%;
  line-height: 40px;
  background-image: linear-gradient(#ffffff, #ebebeb);
  padding-left: 10px;
  font-size: 14px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.nav .left {
  width: 100%;
  padding-right: 60px;
}
.nav .right {
  margin-right: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.nav .right a {
  height: 30px;
  width: 54px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.product {
  background-color: #fff;
  position: relative;
  height: 400px;
  width: 100%;
}
.product .name {
  width: 80%;
  text-align: center;
  height: 200px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 16px;
}
.product .img img {
  display: block;
  margin: 0 auto;
}
.product .icon {
  position: absolute;
  height: 40px;
  width: 40px;
  right: 30px;
  bottom: 30px;
}
.product .icon img {
  height: 40px;
  border-radius: 50%;
  width: 40px;
}
.table {
  height: 40px;
}
.table li {
  float: left;
  text-align: center;
  width: 33.33%;
  height: 100%;
  line-height: 40px;
  border: 1px solid #C14D00;
  border-left: none;
}
.table li:nth-child(1) {
  background-color: #ffa632;
}
.table li:nth-child(2) {
  background-color: #ffd050;
}
.table li:nth-child(3) {
  background-color: #ffd050;
}
.get {
  background-color: #fff;
  height: 40px;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.get a {
  float: left;
}
.get .get_jd {
  width: 12%;
}
.get .jd_shop {
  width: 45%;
}
.get .price {
  width: 36%;
}
.get .go_shopping {
  width: 7%;
  height: 100%;
  border-radius: 3%;
}
.get .go_shopping span {
  display: inline-block;
  width: 56px;
  height: 24px;
  border-radius: 6px;
  color: #fff;
  background-color: orangered;
  font-size: 14px;
  text-align: center;
}
.note {
  background-color: #fff;
  padding-left: 10px;
  padding-bottom: 10px;
  height: 55px;
  line-height: 55px;
  border-bottom: 4px solid #747474;
}
.comment {
  background-color: #fff;
}
.comment .title {
  background-color: #dbdbdb;
  height: 40px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
.comment .comment_list li {
  padding: 10px;
  font-size: 12px;
  color: #666;
  line-height: 20px;
  border-bottom: 1px solid #ccc;
}
.more {
  padding-top: 10px;
  height: 50px;
  background-color: #fff;
}
.more a {
  display: block;
  height: 32px;
  text-align: center;
  width: 90%;
  background-image: linear-gradient(#f1f1f1, #d4d4d4);
  margin: 0 auto;
  line-height: 32px;
  font-size: 14px;
}
