.hero_header {
  background-color: #e4393c;
}
.main li {
  margin: 10px 0 10px 10px;
  padding-top: 10px;
  float: left;
  width: 120px;
  height: 85px;
  border: 1px solid #ccc;
  text-align: center;
}
.main li img {
  display: block;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}
